.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    box-shadow: 0 0 5px rgb(0,0,0, 0.5);
    padding-inline: 10px;
    position: fixed;
    inset: 0;
    opacity: 0;
    animation: show-down 1000ms ease-in-out forwards;

    nav {
        a {
            margin: 10px;
        }
    }
}