.message {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 400px;
    margin-block: 50px;
    opacity: 0;
    animation: show-right 1000ms ease-in-out 1000ms forwards;

    figure {
        height: 100%;
        overflow: hidden;
    }
    section:has(figure) {
        display: flex;
        height: 60%;
        align-items: center;
        
        p {
            margin: auto;
        }
      
    }
    section + section {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        background-color: goldenrod;
        
        a {
            transition: all ease-in-out 500ms;
            font-size: 18px;
            &:hover {
                color: #fff;
            }
        }
    }

}