<header class="app-header">
    <a href="">
        Chez Bobo 
    </a>
    <nav>
        <a href="#register">
            <i class="fa-solid fa-user-plus"></i>
        </a>
        <a href="#login">
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </nav>
</header>
{% block content %}{% endblock %}
