<article class="message">
    <section>
        <figure>
            <img src="./assets/mexican.jpg" alt="photo de la mexicaine" />
        </figure>
        <p> {{ data.message }}</p>
    </section>
    <section>
        <a href="{{data.action.href}}">{{ data.action.textContent}}</a>
    </section>
</article>